#title{
    font-size: 50px;
    text-align: center;
}

.center-middle {
    width: 70%;
    margin: 0 auto;
}

#main-container {
    height: 80%;
    border: 1px solid black;
}

.gameRow {
    width: 100%;
    height: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 14%;
    height: 90%;
    border: 1px solid black;
    margin: 5px;
    transition: all 1s;
}

.card:hover {
    transition: all 1s;
    background-color: orange;
}

#controls {
    display: flex;
    justify-content: center;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#playButton {
    outline: none;
    user-select: none;
    width: 150px;
    background-color: green;
    color: white;
    border: 1px solid black;
}

#playButton:hover {
    background-color: rgb(39, 143, 39);
}

#playButton:active {
    background-color: orange;
}

.not-chosen {
    background-color: transparent;
}

.clicked-on {
    background-color: orangered;
}